body {
    background-color: rgb(3, 5, 5);
    font-family: Verdana;
    max-width: 900px;
    margin: auto;

}

#title, .subtitle, .post_title {
    color:rgb(248, 241, 241)
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: underline;
    color: antiquewhite;
    outline-color: antiquewhite;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin 0;
    margin-bottom: 15px;
}

.post {
    background-color: gray;
    font-family: Verdana;
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
    margin-right: 70px;
    border-radius: 25px; 
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    font-family: Verdana;
}

.post_image {
    margin-bottom: 15px;
    border-radius: 20px;
    width: 700px;
    margin-left: 70px;
}

.post_avatar {
    border-radius: 50%;
    border: 1px solid antiquewhite;
}

.contact_list {
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a {
 color: antiquewhite;
 font-family: Verdana;
 text-decoration: none;
}